<div class="article-page" @scope="detailPage">

    <div class="banner" @context="article">
        <div class="container">

            <h1>${title}</h1>

            <div class="article-meta">
                <a href=""><img _src="author.image" /></a>
                <div class="info">
                    <a href="" class="author">${author.username}</a>
                    <span class="date">${formattedDate}</span>
                </div>

                <div @if="!detailPage.articleByMe" style="display: inline-block">
                    <button class="btn btn-sm btn-outline-secondary" #click="detailPage.followAuthor">
                        <i class="ion-plus-round"></i>&nbsp; Follow ${author.username}
                    </button>
                    &nbsp;
                    <button class="btn btn-sm btn-outline-primary" #click="detailPage.favoriteArticle">
                        <i class="ion-heart"></i>&nbsp; Favorite Post <span class="counter">(${favoritesCount})</span>
                    </button>
                </div>

                <div @if="detailPage.articleByMe" style="display: inline-block">
                    <a class="btn btn-outline-secondary btn-sm" _href="'#/editor/' + slug">
                        <i class="ion-edit"></i> Edit Article
                    </a>
                    &nbsp;
                    <button class="btn btn-outline-danger btn-sm" #click="detailPage.deleteArticle">
                        <i class="ion-trash-a"></i> Delete Article
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="container page">

        <div class="row article-content">
            <imagine-transform target="html" transform="markdownToHTML">
                <div class="col-md-12" @html="article.body">
                </div>
            </imagine-transform>

            <ul class="tag-list" @foreach="article.tagList">
                <li class="tag-default tag-pill tag-outline">
                    ${this}
                </li>
            </ul>
        </div>

        <hr />

        <div class="article-actions">
            <div class="article-meta" @context="article">
                <a href="profile.html"><img _src="author.image" /></a>
                <div class="info">
                    <a href="" class="author">${author.username}</a>
                    <span class="date">${formattedDate}</span>
                </div>



                <div @if="!detailPage.articleByMe" style="display: inline-block">
                    <button class="btn btn-sm btn-outline-secondary" #click="detailPage.followAuthor">
                        <i class="ion-plus-round"></i>&nbsp; Follow ${author.username}
                    </button>
                    &nbsp;
                    <button class="btn btn-sm btn-outline-primary" #click="detailPage.favoriteArticle">
                        <i class="ion-heart"></i>&nbsp; Favorite Post <span class="counter">(${favoritesCount})</span>
                    </button>
                </div>

                <div @if="detailPage.articleByMe" style="display: inline-block">
                    <a class="btn btn-outline-secondary btn-sm" _href="'#/editor/' + slug">
                        <i class="ion-edit"></i> Edit Article
                    </a>
                    &nbsp;
                    <button class="btn btn-outline-danger btn-sm" #click="detailPage.deleteArticle">
                        <i class="ion-trash-a"></i> Delete Article
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-8 offset-md-2">
                <div @if="!app.loggedIn">
                    <p>
                        <a href="#/login">Sign in</a> or <a href="#/register">sign up</a> to add comments on this
                        article.
                    </p>
                </div>

                <div @if="app.loggedIn">
                    <form class="card comment-form">
                        <div class="card-block">
                            <textarea class="form-control" placeholder="Write a comment..." rows="3" @value="newComment.body"></textarea>
                        </div>
                        <div class="card-footer">
                            <img _src="app.user.image" class="comment-author-img" />
                            <button class="btn btn-sm btn-primary" #click="postComment" type="button">
                                Post Comment
                            </button>
                        </div>
                    </form>
                </div>

                <div @foreach="comments">
                    <div class="card">
                        <div class="card-block">
                            <p class="card-text">${body}</p>
                        </div>
                        <div class="card-footer">
                            <a href="" class="comment-author">
                                <img _src="author.image" class="comment-author-img" />
                            </a>
                            &nbsp;
                            <a href="" class="comment-author">${author.username}</a>
                            <span class="date-posted">${formattedDate}</span>
                            <span class="mod-options" @if="commentByMe">
                                <i class="ion-trash-a" #click="detailPage.deleteComment"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>