<div class="home-page" @scope="home">

    <div @if="!app.loggedIn">
        <div class="banner">
            <div class="container">
                <h1 class="logo-font">conduit</h1>
                <p>A place to share your knowledge.</p>
            </div>
        </div>
    </div>

    <div class="container page">
        <div class="row">

            <div class="col-md-9">
                <div class="feed-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <a _class="showFeed ? 'nav-link active' : 'nav-link'" href="#" #click="goToFeed">Your Feed</a>
                        </li>
                        <li class="nav-item">
                            <a _class="showGlobal ? 'nav-link active' : 'nav-link'" href="#" #click="clearFilter">Global Feed</a>
                        </li>
                        <li class="nav-item" @if="filter">
                            <a class="nav-link active" href="#"># ${filter}</a>
                        </li>
                    </ul>
                </div>

                <div class="loader" @visible="loadingArticles">Loading...</div>

                <div @foreach="articles" @visible="!loadingArticles">
                    <div class="article-preview">
                        <div class="article-meta">
                            <a _href="'#/profile/' + author.username"><img _src="author.image" /></a>
                            <div class="info">
                                <a _href="'#/profile/' + author.username" class="author">${author.username}</a>
                                <span class="date">${formattedDate}</span>
                            </div>
                            <button class="btn btn-outline-primary btn-sm pull-xs-right">
                                <i class="ion-heart"></i> ${favoritesCount}
                            </button>
                        </div>
                        <a _href="'#/article/' + slug" class="preview-link">
                            <h1 @text="title">
                                <!-- can't use ${title} because the supplied css messes up spans in h1 -->
                            </h1>
                            <p>${description}</p>
                            <span>Read more...</span>

                            <ul class="tag-list" @foreach="tagList">
                                <li class="tag-default tag-pill tag-outline">
                                    ${this}
                                </li>
                            </ul>
                        </a>
                    </div>
                </div>

                <div class="article-preview" @if="articles.length == 0" @visible="!loadingArticles">
                    No articles are here... yet.
                </div>

                <nav @visible="!loadingArticles">
                    <ul class="pagination" @foreach="pages">
                        <li _class="active ? 'page-item active' : 'page-item'" #click="home.goToPage">
                            <a class="page-link" href="#">${number}</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-md-3">
                <div class="sidebar">
                    <p>Popular Tags</p>

                    <div class="loader small-loader" @visible="loadingTags">Loading...</div>

                    <div class="tag-list" @foreach="tags">
                        <a href="#" class="tag-pill tag-default" #click="home.filterOnTag">${this}</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>