<div class="home-page" @scope="home">

    <div class="banner">
        <div class="container">
            <h1 class="logo-font">conduit</h1>
            <p>A place to share your knowledge.</p>
        </div>
    </div>

    <div class="container page">
        <div class="row">

            <div class="col-md-9">
                <div class="feed-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item" @if="app.loggedIn">
                            <a class="nav-link disabled" href="">Your Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="">Global Feed</a>
                        </li>
                    </ul>
                </div>

                <div class="loader" @visible="loadingArticles">Loading...</div>

                <div @foreach="articles" @visible="!loadingArticles">
                    <div class="article-preview">
                        <div class="article-meta">
                            <a href="profile.html"><img _src="author.image" /></a>
                            <div class="info">
                                <a href="" class="author">${author.username}</a>
                                <span class="date">${formattedDate}</span>
                            </div>
                            <button class="btn btn-outline-primary btn-sm pull-xs-right">
                                <i class="ion-heart"></i> ${favoritesCount}
                            </button>
                        </div>
                        <a _href="'#/article/' + slug" class="preview-link">
                            <h1 @text="title">
                                <!-- can't use ${title} because the supplied css messes up spans in h1 -->
                            </h1>
                            <p>${description}</p>
                            <span>Read more...</span>
                        </a>
                    </div>
                </div>

                <nav>
                    <ul class="pagination" @foreach="pages">
                        <li _class="active ? 'page-item active' : 'page-item'" #click="home.goToPage">
                            <a class="page-link" href="#">${number}</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-md-3">
                <div class="sidebar">
                    <p>Popular Tags</p>

                    <div class="loader small-loader" @visible="loadingTags">Loading...</div>

                    <div class="tag-list" @foreach="tags">
                        <a href="" class="tag-pill tag-default">${this}</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>