<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">${signup ? 'Sign up' : 'Sign in'}</h1>
        <p class="text-xs-center">
          <a _href="signup ? '/#/signin' : '/#/signup'">${signup ? 'Have an account?' : 'Need an account?'}</a>
        </p>

        <ul class="error-messages" @foreach="errorMessages">
          <li>${this}</li>
        </ul>

        <form>
          <fieldset class="form-group" @if="signup">
            <input class="form-control form-control-lg" type="text" placeholder="Your Name">
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Email" @value="email">
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="password" placeholder="Password" @value="password">
          </fieldset>

          <div @if="signup">
            <button class="btn btn-lg btn-primary pull-xs-right" type="button">
              Sign up
            </button>
          </div>

          <div @if="!signup">
            <button class="btn btn-lg btn-primary pull-xs-right" #click="signin" type="button">
              Sign in
            </button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>