<div class="profile-page" @scope="profilePage">

    <div class="user-info" @context="profile">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-md-10 offset-md-1">
                    <img _src="image" class="user-img" />
                    <h4>${username}</h4>
                    <p>
                        ${bio}
                    </p>

                    <div @if="!profilePage.profileIsMe">
                        <toggle-button :active="following" :title="'Follow ' + username" :activetitle="'Unfollow ' + username" #click="profilePage.followAuthor">
                            <i slot="icon" class="ion-plus-round"></i>
                        </toggle-button>
                    </div>

                    <div @if="profilePage.profileIsMe">
                        <a class="btn btn-sm btn-outline-secondary action-btn" href="#/settings">
                            <i class="ion-gear-a"></i>
                            &nbsp;
                            Edit Profile Settings
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-10 offset-md-1">
                <div class="articles-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <a _class="showFavorited ? 'nav-link' : 'nav-link active'" #click="goToAuthorArticles" href="#">My Articles</a>
                        </li>
                        <li class="nav-item">
                            <a _class="showFavorited ? 'nav-link active' : 'nav-link'" #click="goToFavoriteArticles" href="#">Favorited Articles</a>
                        </li>
                    </ul>
                </div>

                <div class="loader" @visible="loading">Loading...</div>

                <div @foreach="articles" @visible="!loading">
                    <div class="article-preview">
                        <div class="article-meta">
                            <a _href="'#/profile/' + author.username"><img _src="author.image" /></a>
                            <div class="info">
                                <a _href="'#/profile/' + author.username" class="author">${author.username}</a>
                                <span class="date">${formattedDate}</span>
                            </div>
                            <button _class="favorited ? 'btn btn-primary btn-sm pull-xs-right' : 'btn btn-outline-primary btn-sm pull-xs-right'" #click="profilePage.favoriteArticle">
                                <i class="ion-heart active"></i> ${favoritesCount}
                            </button>
                        </div>
                        <a _href="'#/article/' + slug" class="preview-link">
                            <h1 @text="title">
                                <!-- can't use ${title} because the supplied css messes up spans in h1 -->
                            </h1>
                            <p>${description}</p>
                            <span>Read more...</span>
                        </a>
                    </div>
                </div>

                <nav>
                    <ul class="pagination" @foreach="pages">
                        <li _class="active ? 'page-item active' : 'page-item'" #click="profilePage.goToPage">
                            <a class="page-link" href="#">${number}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>